/* Latest posts */

.latest-posts-item-header-title {
	padding: .25em;
}

.latest-posts-item-header-date {
	margin: .5em;
	color: #666;
}

.latest-posts-item {
	margin: .5em;
	padding: 1em;
	background-color: #333;
}

.latest-posts-item-header {
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	background-color: #222;
}

.latest-posts-item-link {
	text-align: center;
}

#latest-posts-more {
	padding: .5em;
	margin; 0 auto;
}
