table#post-index {
	width: 100%;
	text-align: center;
}
table#post-index tr.category,
table#post-index tr td.name {
	text-align: left;
}

table#post-index tr td.date,
table#post-index tr td.tags {
	width: 30%;
}