#mc_embed_signup div.mc-field-group {
	margin: 1em 0;
	width: 100%;
	text-align: left;
}

#mc_embed_signup div.mc-field-group label {
	margin: .5em;
}

input[type="text"], input[type="email"] {
	margin: .5em 0;
	width: 95%;
	display: block;
	padding: .5em;
	border-radius: .5em;

}

input.button {
	margin: 0 auto;
	border: 1em;
	border-radius: .5em;
	padding: .5em;
	width: 20%;
	text-align: center;
}

input.button:hover {
	background: #999;
}

.indicates-required {
	text-align: center;
	margin: .5em;
	padding-top: .5em;
}

.asterisk {
	color: orange;
}