---
layout: page

stylesheets: [home]
---

{{content}}

<h2>{{ site.data.localization_home.[page.lang].header }}</h2>
<div id="places">
    <table id="place-table">
      <tr class="place-row">
        <td class="place-cell"><a href="https://www.linkedin.com/pub/erich-gubler/31/8ab/839"><img src="/_resources/linkedin.png" alt="LinkedIn"/></a></td>
        <td class="place-column-spacer"></td>
        <td class="place-cell"><a href="https://github.com/ErichDonGubler"><img src="/_resources/github.png" alt="Github"/></a></td>
      </tr>
      <tr class="place-row-spacer"></tr>
      <tr class="place-row">
        <td class="place-cell"><a href="https://www.facebook.com/erichdongubler"><img src="/_resources/facebook.png" alt="Facebook"/></a></td>
        <td class="place-column-spacer"></td>
        <td class="place-cell"><a href="https://plus.google.com/103900913328619682225"><img src="/_resources/googleplus.png" alt="Facebook"/></a></td>
      </tr>
    </table>
</div>