<!-- TODO: Add sub-category stuff -->
<table style="width: 100%;">
    {% for category in site.categories %}
        {% for post in category[1] reversed %}
        	{% if post.lang == page.lang %}
			    <tr>
			        <td><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td> 
			        <td><a href="{{ post.url }}">{{ post.title }}</a></td>
			        <td><span class="category"><i class="icon-tag"></i>
                        {% for postCategory in post.categories %}
                            {% if site.data.localization.[page.lang].categories.[postCategory] %}
                                {{ site.data.localization.[page.lang].categories.[postCategory] }}
                            {% else %}
                                {{ postCategory }}
                            {% endif %}
                        {% endfor %}
                    </span></td>
			    </tr>
        	{% endif %}
        {% endfor %}
    {% endfor %}
</table>