.timer-box {
}

.timer-container {
	width: 100%;
}

.timer {
    font-size: 24px;
	color: #bc0000;
}

.timer-separator:before {
	content: ':';
	font-size: 2em;
}

.timer-field {
	background: #222;
	border-style: solid;
	border-radius: .2em;
	border-color: #222;
	display: inline-block;
	text-align: center;
	padding: .25em
}

.timer-field-number {
	font-size: 4em;
}

.timer-field-caption {
	font-size: 1em;
}

.timer-field-caption-days:before {
	content: 'days';
}

.timer-field-caption-hours:before {
	content: 'hours';
}

.timer-field-caption-minutes:before {
	content: 'minutes';
}

.timer-field-caption-seconds:before {
	content: 'seconds';
}