<script type="text/javascript">
window.addEventListener("load", function() {
  var wedding = new Date('{{ include.date_string }}');
  var timer = new CountUntilTimer('{{ include.id }}', wedding, { useDoubleDigits: false, removeEmptyNumbers: true });
  timer.start();
}, false);
</script>
<div class="timer-box refbox">
  <div class="refbox-header">
    <h3 class="refbox-header-title">
      {{ include.title }}
    </h3>
  </div>
  <div id="{{ include.id }}" class="timer-container refbox-content">Loading timer!</div>
</div>