<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.data.localization.[page.lang].site.name }}</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/_resources/style.css" type="text/css" />
        <link rel="stylesheet" href="/_resources/pygments.css" type="text/css" />
        {% for stylesheet in page.stylesheets %}
          <link rel="stylesheet" href="/_resources/{{stylesheet}}.css" type="text/css" />
        {% endfor %}
        <link rel="stylesheet" href="/_resources/fontello/css/fontello.css" type="text/css" />

        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta name="robots" content="index, follow, noarchive" />
        <meta name="googlebot" content="noarchive" />
    </head>

    <body>
      <div id="page-content">
<!-- header -->
        <div id="nav">
            <div id="nav-content">
                <ul>
        <!-- This site -->
                    <li id="home"><a href="{{site.data.localization.[page.lang].pages.home.url}}" title="{{site.data.localization.[page.lang].site.name}}">{{site.data.localization.[page.lang].site.name}}</a></li>
        <!-- Pages from _config.yml -->
                  {% for aPage in site.data.localization.[page.lang].pages %}
                    <li><a href="{{ aPage[1].url }}">{{ aPage[1].name }}</a></li>
                  {% endfor %}
        <!-- Translations of this page -->
                    <li id="lang">
                      {% if page.path contains "_posts" %} <!-- XXX: This is a hack! -->
                        {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
                      {% else %}
                        {% assign posts=site.pages | where:"name", page.name | sort: 'path' %}
                      {% endif %}
                      {% for post in posts %}
                        <a href="{{ post.url }}" class="lang-{{ post.lang }}" {% if page.lang == post.lang %} id="current" {% endif %}>{{ post.lang }}</a>
                      {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        <div id="wrap">
            <div id="wrap-content">
                {{content}}
            </div>
        </div>

        <footer>
            {{site.data.localization.[page.lang].hosting}} <a href="https://github.com" alt="GitHub • Social coding">Github</a>.
            <div id="places">
                <table id="place-table">
                  <tr class="place-row">
                    <td class="place-cell"><a href="https://www.linkedin.com/pub/erich-gubler/31/8ab/839"><img src="/_resources/linkedin.png" alt="LinkedIn"/></a></td>
                    <td class="place-column-spacer"></td>
                    <td class="place-cell"><a href="https://github.com/ErichDonGubler"><img src="/_resources/github.png" alt="Github"/></a></td>
                    <td class="place-column-spacer"></td>
                    <td class="place-cell"><a href="https://www.facebook.com/erichdongubler"><img src="/_resources/facebook.png" alt="Facebook"/></a></td>
                    <td class="place-column-spacer"></td>
                    <td class="place-cell"><a href="https://plus.google.com/103900913328619682225"><img src="/_resources/googleplus.png" alt="Facebook"/></a></td>
                  </tr>
                </table>
            </div>
        </footer>
    </body>

<!-- Google Analytics tracking -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57021113-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
      </div>
</html>
