---
layout: page

stylesheets: [post-index]
---

{{ content }}

<table id="post-index">
    {% for category in site.categories reversed %}
        {% assign categoryEmpty = "true" %}
        {% if category[1] != empty %}
            {% for post in category[1] reversed %}
                {% if post.lang == page.lang %}
                    {% assign categoryEmpty = "false" %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if categoryEmpty == "false" %}
            {% assign categoryString=category[0]%}
            <tr class="category">
                <td colspan="100">
                    {% if site.data.localization.[page.lang].categories.[categoryString] %}
                        <h2>{{ site.data.localization.[page.lang].categories.[categoryString] }}</h2>
                    {% else %}
                        <h2>{{ categoryString }}</h2>
                    {% endif %}
                </td>
            </tr>
            {% for post in category[1] reversed %}
            	{% if post.lang == page.lang %}
    			    <tr class="item">
                        <td class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>
                        <td class="name"><a href="{{ post.url }}">{{ post.title }}</a></td>
                        <!-- This is UGLY. Let's put this in when we figure out how to make it useful AND pretty.
                        {% if post.tags != empty %}
        			        <td class="tags"><i class="icon-tag" style="float: left;"></i>
                                <div style="text-align: left;">
                                    {% for tag in post.tags %}
                                        {{ tag }}, 
                                    {% endfor %}
                                </div>
                            </td>
                        {% endif %}
                        -->
    			    </tr>
            	{% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>