---
layout: default
---

<article id="post">
        <header id="content-header">
            <h1 id="title">{{ page.title }}</h1>
            <div id="subtitle">{{ page.subtitle }}</div>
            <div id="post-info">
	            <span><i class="icon-clock"></i> <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time><br/><br/>
	            <!--<i class="icon-tag"></i> {% for category in page.categories | category_links %} {{category}} {% endfor %}
	            </span> -->
	            <!-- Unsure what to do with this right now. This contains an interesting start for relevantcategory listings.
	            <div>
					<table>
					    {% for post in site.categories[page.category] %}
					    <tr>
					        <td><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>  
					        <td><a href="{{ post.url }}">{{ post.title }}</a></td>
					        <td><span class="category"><i class="icon-tag"></i> {{ post.categories | category_links }}</span></td>
					    </tr>
					    {% endfor %}
					</table>
				-->
            </div>
        </header>
        <section id="content-body">{{ content }}</section>

        <section id="content-footer">
        		<div class="post-footer-separator"></div>

        		<!-- Get the previous page -->
    			{% assign previous_page="" %}

	    		{% assign found_this_post="false" %}
	    		{% for post in site.posts %}
	    			{% if found_this_post != "true" %}
					    {% if post.name == page.name %}
		    				{% assign found_this_post="true" %}
		    				{% continue %}
					    {% endif %}
			    	{% else %}
					    {% if post.name != page.name and post.lang == page.lang %}
			    			{% assign previous_page=post %}
			    			{% break %}
			    		{% endif %}
				    {% endif %}
				{% endfor %}

        		<!-- Get the next page -->
    			{% assign next_page="" %}

	    		{% assign found_this_post="false" %}
	    		{% for post in site.posts reversed %}
	    			{% if found_this_post != "true" %}
					    {% if post.name == page.name %}
		    				{% assign found_this_post="true" %}
		    				{% continue %}
					    {% endif %}
			    	{% else %}
					    {% if post.name != page.name and post.lang == page.lang %}
			    			{% assign next_page=post %}
			    			{% break %}
			    		{% endif %}
				    {% endif %}
				{% endfor %}
			    {% if next_page != empty or previous_page != empty %}
			    	<div id="other-posts">
				    	<h2>{{ site.data.localization_posts.[page.lang].other-posts }}</h2>
					    <table>
					    	{% if previous_page != empty %}
						    	<td id="previous-post">
									<h3><a href="{{ previous_page.url }}">&laquo;{{ previous_page.title }}</a></h3>
						    		
							    </td>
							{% endif %}
					    	{% if next_page != empty %}
						    	<td id="next-post">
									<h3><a href="{{ next_page.url }}">{{ next_page.title }}&raquo;</a></h3>
						    		
							    </td>
							{% endif %}
					    </table>
					</div>
        			<div class="post-footer-separator"></div>
        		{% endif %}

			    <div id="disqus_thread"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = '{{ site.data.localization_posts.[page.lang].disqus-shortlink }}'; // required: replace example with your forum shortname

			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </section>
</article>

